<p>filtering works!</p>

<div>
    <mat-radio-group [(ngModel)]="selected">
        <mat-radio-button  *ngFor="let t of table" [value]="t">{{t}} </mat-radio-button>
    </mat-radio-group>
</div>

<p>You have selected: {{selected}}</p>

<div *ngIf="selected==table[0]">
    <mat-form-field>
        <mat-label>Select an option</mat-label>
        <mat-select [(value)]="select">
          <mat-option>None</mat-option>
          <mat-option value="Sociodemography">Sociodemography</mat-option>
          <mat-option value="HOPI">HOPI</mat-option>
          <mat-option value="Developmental">Developmental</mat-option>
          <mat-option value="Age">Age</mat-option>
        </mat-select>
      </mat-form-field>

      
      <p>You selected: {{select}}</p>

      <div *ngIf="select==listCol[0]||select==listCol[1]||select==listCol[2]" >
        <mat-form-field>
            <mat-label>Select an option</mat-label>
            <mat-select [(value)]="selectTest" required>
              <mat-option>None</mat-option>
              <mat-option value="Completed">Completed</mat-option>
              <mat-option value="Incomplete">Incomplete</mat-option>
              
            </mat-select>
          </mat-form-field>
      </div>
      <p>You selected: {{selectTest}}</p>

      <div *ngIf="select==listCol[3]" >
        <mat-form-field>
            <mat-label>Select an option</mat-label>
            <mat-select [(value)]="selectTest">
              <mat-option>None</mat-option>
              <mat-option value="greater than"> greater than</mat-option>
              <mat-option value="Smaller than">Smaller than</mat-option>
             
            </mat-select>

            <mat-label>Select value</mat-label>
            <mat-select [(value)]="num" >
                <mat-option *ngFor="let k of numbers"  value={{k}} >{{k}}</mat-option>
            </mat-select>
          </mat-form-field>
          
      </div>
      <p>You selected: {{selectTest}}</p>
      <p>You selected: {{num}}</p>
</div>

<button mat-button (click)="onClick()">Add more filters</button>


<button mat-button (click)="onClickSave()">See Results!!</button>